.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform .25s ease, opacity .2s ease;
  z-index: 1000;
}
.header.hidden {
  transform: translateY(-110%);
}
.header.scrolled .navbar {
  background-color: #1C3C6D !important;
  border-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header.flow {
  position: fixed;
  /* transform: none; */
}

@media (max-width: 767px){
  .header.scrolled .navbar {
    padding: 0;
  }
  .header.scrolled .header-contact-mobile{
    padding: 11px 20px 6px;
  }
}

